extends layout

block content
  section.col-12.col-lg-10.about-page.top-row(id="about")
    h1.text-center Hello!
    p My name is Alex Webb, and I like javascript.
    p I think programming is a lot of fun. I trained in art before I decided to pick up programming. I try to use my    creative side when solving problems.
    p Also a fan of video games, i enjoy programming in Unity as well. I love to hear about others' gaming experiences.     Like any good gamer I also enjoy cartoons.
    p I am looking for a company with a team of experienced programmers to show me the business programming ropes.
    p.float-right - Alex Webb