extends layout

block content
  section.hero.is-info.is-large
    .hero-head
      nav.navbar
        .container
          .navbar-brand
            a.navbar-item
              img(src='https://bulma.io/images/bulma-type-white.png', alt='Logo')
            span.navbar-burger.burger(data-target='navbarMenuHeroB')
              span
              span
              span
          #navbarMenuHeroB.navbar-menu
            .navbar-end
              a.navbar-item.is-active
                | Home
              a.navbar-item
                | Examples
              a.navbar-item
                | Documentation
              span.navbar-item
                a.button.is-info.is-inverted
                  span.icon
                    i.fab.fa-github
                  span Visit my github
    .hero-body
      .container.has-text-centered
        p.title
          | exe.cool
        p.subtitle
          | test stub
    .hero-foot
      nav.tabs.is-boxed.is-fullwidth
        .container
          ul
            li
              a Overview
            li
              a Modifiers
            li
              a Grid
  