doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    link(rel='stylesheet', href='/dist/style.css')
  body(data-spy="scroll", data-target="#project-scroll", data-offset="54")
    include nav
    main
      .container
        .row
          section.top-row(id="top").col-10.col-lg-2.col-sm-6.offset-1.offset-sm-3.offset-lg-0
            a(href=imageBaseUrl + responsiveQString + 'v1538472456/portfolio/self-portrait.jpg', data-toggle='lightbox', data-gallery='home-gallery')
              img.img-fluid.home-gallery__image(src='https://placeholder.pics/svg/300x400', data-src=imageBaseUrl+"v1538472456/portfolio/self-portrait.jpg", class="cld-responsive")
              h1 About Alex
              p.lead
                | Developer, Chill Dude.
                br
                | Good at googling.
          block content
    footer
      p.text-center Alex Webb - 2018 
  script(src='/dist/main.js')
  script(type='text/javascript', src='https://platform.linkedin.com/badges/js/profile.js', async='', defer='')