nav.top-navbar.navbar.navbar-expand-md.navbar-dark.bg-primary.fixed-top(id='project-scroll')
  .container
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarHome', aria-controls='navbarHome', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarHome.collapse.navbar-collapse
      ul.navbar-nav.mr-auto.text-white
        li.nav-item.active
          a.nav-link(href='/')
            | Home
        li.nav-item.d-none.d-sm-block
          a.nav-link(href=(title !== "Home" ? "/" : "") + '#projects') Projects
        li.nav-item.dropdown.d-block.d-sm-none
          a.nav-link.dropdown-toggle(data-toggle='dropdown', href='#', role='button', aria-haspopup='true', aria-expanded='false') Projects
          .dropdown-menu
            each project in projects
              a.dropdown-item(href=(title !== "Home" ? "/" : "") + "#" + project.name) #{project.name}
        li.nav-item
          a.nav-link(href=((title === "Home" ? "/" : "#") + "about")) About
        li.nav-item
          a.nav-link(href=("https://" + githubString), target="_blank", rel="noopener noreferrer") GitHub
        //- li.nav-item
        //-     a.nav-link(href=("/files/alex-webb-resume.pdf"), target="_blank", rel="noopener noreferrer") Resume
        //- li.nav-item
        //-     a.nav-link(href="mailto:a@exe.cool") Email