$primary: #90323d;
// $secondary:     $gray-600 !default;
// $success:       $green !default;
// $info:          $cyan !default;
// $warning:       $yellow !default;
// $danger:        $red !default;
$light:         #d9cab3;
// $dark:          $gray-800 !default;
$body-bg: #ebebd3;
$body-color: #2d3319;

// Required
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

// Optional
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/dropdown";
@import "bootstrap/scss/list-group";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/modal";
@import "bootstrap/scss/utilities";

// ekko lightbox
@import "ekko-lightbox.css";

body {
  background-image: url("https://www.transparenttextures.com/patterns/pixel-weave.png");
}

a {
  text-decoration: none !important;
}

nav {
  background-image: url("https://www.transparenttextures.com/patterns/subtle-zebra-3d.png");

  border-bottom: 1px solid $body-color;
}

section {
  margin-bottom: 54px;
  min-height: 80vh;
  padding-top: 10vh;
}

footer {
  padding-top: 54px;
  color: red;
}

.home-gallery__image,
.project__image {
  padding-top: 15px;
}

.project {
  padding-top: 10vh;
}
.project h1 {
  text-shadow: #f7ebe8 2px 2px;
  padding-left: 25px;

  border-bottom: #bc8034 2px solid;
}
