// bootstrap default variables
$primary: #90323d;
$light: #d9cab3;
$body-bg: white;
$body-color: #2d3319;

// my custom colors
$accent: tomato;
$offwhite: #f7ebe8;
$light-blue: #d6eeff;
$maroon: #846267;
$mustard: #ffe066;

// Required
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

// Optional
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/dropdown";
@import "bootstrap/scss/list-group";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/modal";
@import "bootstrap/scss/utilities";

// ekko lightbox
@import "ekko-lightbox/dist/ekko-lightbox";

// fonts
@import url("https://fonts.googleapis.com/css?family=Heebo:300,400");

body {
  font-family: "Heebo", sans-serif;
  font-weight: 300;
  // background-image: url("/images/pixel-weave.png");
}

h1,
h2,
a {
  font-family: "Heebo", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none !important;
}

nav {
  background-image: url("/images/subtle-zebra-3d.png");

  border-bottom: 1px solid $body-color;
}

section {
  margin-bottom: 54px;
  min-height: 80vh;
  padding-top: 10vh;
}

footer {
  padding-top: 54px;
  color: $accent;
}

.home-gallery__image,
.project__image {
  padding-top: 15px;
}

.project {
  padding-top: 10vh;
}
.project h1 {
  text-shadow: $offwhite 2px 2px;
  padding-left: 25px;

  border-bottom: #bc8034 2px solid;
}

.project__github-link-parent {
  margin-top: 25px;
  margin-bottom: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.project__github-link-child {
  font-size: 1.6em;
  text-shadow: $offwhite 2px 2px;
  color: $body-color;
  padding: 8px 25px 10px 25px;
  border-radius: 7px;
  border: 2px solid $light-blue;
  background-color: $light-blue;
  // background-image: url("/images/cutcube.png");
  transition: box-shadow 0.5s, text-shadow 0.5s, color 0.3s;
}

.project__github-link-child:hover {
  transition: box-shadow 0.3s, text-shadow 0.3s, color 0.2s;
  box-shadow: $offwhite 0px 0px 12px;
  text-shadow: $offwhite 4px 4px 8px;
  color: $primary;
}

.project__site-link {
  margin-top: 15px;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 2em;
  border-radius: 4px;
  border: 2px solid $maroon;
  color: $offwhite;
  background-color: $maroon;
  // background-image: url("/images/arabesque.png");
  transition: box-shadow 0.2s, transform 0.2s, color 0.1s;
}

.project__site-link:hover {
  transition: box-shadow 0.2s, transform 0.2s, color 0.1s;
  box-shadow: $body-color 2px 3px 6px;
  transform: translate(-2px, -3px);
  color: $mustard;
}

.project__description {
  margin-left: 2px;
  margin-right: 2px;
}
