// bootstrap default variables
$primary: #90323d;
$secondary: #bc8034;
$light: #d9cab3;
$body-bg: LightGrey;
$body-color: #2d3319;

// my custom colors
$accent: tomato;
$yellow-white: #f2f4e8;
$offwhite: #f7ebe8;
$light-blue: #d6eeff;
$maroon: #846267;
$dark-accent: #544043;
$mustard: #ffe066;
$grey: #b8b8b8;

// Required
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

// Optional
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/pagination";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/dropdown";
@import "bootstrap/scss/list-group";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/modal";
@import "bootstrap/scss/carousel";
@import "bootstrap/scss/utilities";

// ekko lightbox
@import "ekko-lightbox/dist/ekko-lightbox";

// fonts
@import url("https://fonts.googleapis.com/css?family=Coustard|Quicksand");

body {
  min-height: 100vh;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e2e2e2+0,808080+100 */
  background: rgb(226, 226, 226); /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(226, 226, 226, 1) 0%,
    rgba(128, 128, 128, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(226, 226, 226, 1) 0%,
    rgba(128, 128, 128, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(226, 226, 226, 1) 0%,
    rgba(128, 128, 128, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#808080',GradientType=0 ); /* IE6-9 */

  font-family: "Quicksand", sans-serif;
}

h1,
h2,
a {
  font-family: "Coustard", serif;
}

a {
  text-decoration: none !important;
}

.about-page {
  font-family: "Coustard", serif;
  padding-top: 54px;
}

.about-page__text {
  text-shadow: $offwhite 2px 2px 4px;
  text-indent: 1vw;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#feffff+0,ddf1f9+35,d3d3d3+100&1+0,0+100 */
  background: -moz-linear-gradient(
    top,
    rgba(254, 255, 255, 1) 0%,
    rgba(221, 241, 249, 0.65) 35%,
    rgba(211, 211, 211, 0) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(254, 255, 255, 1) 0%,
    rgba(221, 241, 249, 0.65) 35%,
    rgba(211, 211, 211, 0) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(254, 255, 255, 1) 0%,
    rgba(221, 241, 249, 0.65) 35%,
    rgba(211, 211, 211, 0) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#00d3d3d3',GradientType=0 ); /* IE6-9 */
}

.about-page h1 {
  padding-top: 20px;
}

.about-page h2 {
  font-size: 1.2em;
}

.contact-page__card {
  color: $offwhite;
  font-size: 2em;
  width: 280px;
  max-width: 280px;
  margin: 0px 15px 20px 15px;
  text-align: center;
  background-color: $body-bg;
  border-radius: 3px;
  box-shadow: $grey 0px 0px 2px;
  border: $grey solid 1px;
  padding: 85px 55px;
  transition: color 0.1s, transform 0.2s, box-shadow 0.2s, border 0.1s;
}

.contact-page__card:hover {
  transition: color 0.1s;
  color: $accent;
}

@include media-breakpoint-up(lg) {
  .contact-page__card:hover {
    transition: transform 0.2s, box-shadow 0.2s, border 0.2s;
    transform: translate(-2px, -3px);
    box-shadow: $body-color 2px 3px 6px;
    border: $body-color solid 1px;
  }
  
}

.contact-page__card.card-1 {
  background-color: #fff7f7;
  background-image: url("/images/football-no-lines.png");
}
.contact-page__card.card-2 {
  background-color: #c9b5b5;
  background-image: url("/images/gravel.png");
}
.contact-page__card.card-3 {
  background-color: #ada09f;
  background-image: url("/images/shley-tree-1.png");
}

.top-navbar {
  background-image: url("/images/subtle-zebra-3d.png");
  border-bottom: 1px solid $body-color;
}

.top-row,
.contact-page {
  padding-top: 10vh;
}

.project-section__title {
  font-size: 0.8em;
  color: $accent;
}

footer {
  padding-top: 54px;
  color: $accent;
}

.project {
  padding-top: 54px;
  text-shadow: $offwhite 2px 2px 4px;
}

.home-gallery__image,
.project__image {
  padding-top: 15px;
}

.project__title {
  text-shadow: $accent 2px 2px;
  border-bottom: $secondary 2px solid;
}

.project__site-link {
  margin-top: 15px;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 2em;
  border-radius: 4px;
  border: 2px solid $maroon;
  color: $yellow-white;
  background-color: $maroon;
  text-shadow: $body-color 1px 1px;
}

@include media-breakpoint-up(lg) {
  .project__site-link {
    text-shadow: $offwhite 2px 2px 1px;
    transition: box-shadow 0.2s, transform 0.2s, color 0.1s, text-shadow 0.1s,
      background-color 0.4s, border 0.3s;
  }

  .project__site-link:hover {
    transition: box-shadow 0.2s, transform 0.2s, color 0.1s, text-shadow 0.1s,
      background-color 0.4s, border 0.3s;
    box-shadow: $body-color 2px 3px 6px;
    transform: translate(-2px, -3px);
    color: $mustard;
    text-shadow: $offwhite 1px 1px 0px;
    background-color: $dark-accent;
    border: 2px solid $body-color;
  }
}

.project__description {
  margin-left: 2px;
  margin-right: 2px;
  padding: 0 10px;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e1ffff+0,e1ffff+9,e1ffff+12,e6f8fd+30,c8eefb+54,bee4f8+75,b1d8f5+100&0+24,0.54+46,0.53+63,0+100 */
  background: -moz-linear-gradient(
    top,
    rgba(225, 255, 255, 0) 0%,
    rgba(225, 255, 255, 0) 9%,
    rgba(225, 255, 255, 0) 12%,
    rgba(228, 250, 254, 0) 24%,
    rgba(230, 248, 253, 0.15) 30%,
    rgba(210, 241, 252, 0.54) 46%,
    rgba(200, 238, 251, 0.54) 54%,
    rgba(196, 234, 250, 0.53) 63%,
    rgba(190, 228, 248, 0.36) 75%,
    rgba(177, 216, 245, 0) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(225, 255, 255, 0) 0%,
    rgba(225, 255, 255, 0) 9%,
    rgba(225, 255, 255, 0) 12%,
    rgba(228, 250, 254, 0) 24%,
    rgba(230, 248, 253, 0.15) 30%,
    rgba(210, 241, 252, 0.54) 46%,
    rgba(200, 238, 251, 0.54) 54%,
    rgba(196, 234, 250, 0.53) 63%,
    rgba(190, 228, 248, 0.36) 75%,
    rgba(177, 216, 245, 0) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(225, 255, 255, 0) 0%,
    rgba(225, 255, 255, 0) 9%,
    rgba(225, 255, 255, 0) 12%,
    rgba(228, 250, 254, 0) 24%,
    rgba(230, 248, 253, 0.15) 30%,
    rgba(210, 241, 252, 0.54) 46%,
    rgba(200, 238, 251, 0.54) 54%,
    rgba(196, 234, 250, 0.53) 63%,
    rgba(190, 228, 248, 0.36) 75%,
    rgba(177, 216, 245, 0) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e1ffff', endColorstr='#00b1d8f5',GradientType=0 ); /* IE6-9 */
}
